.container {
  margin: 2%;
}

.centered {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.graphBox {
  border: 2px solid green;
}
